body {
	margin:0px;
	padding:0px;
	font-family:verdana, arial, helvetica, sans-serif;
	color:#333;
	background-color:darkgray;
	}
	
h1 {
	margin:0px 0px 15px 0px;
	padding:0px;
	font-size:28px;
	line-height:28px;
	font-weight:900;
	color:#eee;
	}
	
p {
	font:11px/20px verdana, arial, helvetica, sans-serif;
	margin:0px 0px 16px 0px;
	padding:0px;
	}
	
#Content>p {margin:0px; text-indent:30px;}

a {
	color:#09c;
	font-size:11px;
	text-decoration:none;
	font-weight:600;
	font-family:verdana, arial, helvetica, sans-serif;
	}
	
a:link {color:#09c;}

a:visited {color:#07a;}

a:hover {background-color:#eee;}

#Header {
	font-size:24px;
	margin:50px 0px 10px 0px;
	padding:17px 20px 20px 20px;
	/* For IE5/Win's benefit height = [correct height] + [top padding] + [top and bottom border widths] */
	height:33px; /* 14px + 17px + 2px = 33px */
	border-style:solid;
	border-color:black;
	border-width:1px 0px; /* top and bottom borders: 1px; left and right borders: 0px */
	line-height:11px;
	background-color:red;
	color: white;
	voice-family: "\"}\"";
	voice-family:inherit;
	height:14px; /* the correct height */
	}

body>#Header {height:10px;}

#Content {
	margin:0px 210px 50px 10px;
	padding:10px;
	}

#Menu {
	position:absolute;
	top:100px;
	right:20px;
	width:172px;
	padding:10px;
	background-color:#eee;
	border:1px dashed #999;
	line-height:17px;

	voice-family: "\"}\"";
	voice-family:inherit;
	width:150px;
	}
body>#Menu {width:150px;}

.error {
	color:#FF0033;
	font-size:14px;
	}

/* Formatting the form */

.myRow {padding-bottom:15px;} /*adds spacing between the fields. you can also: height:30px*/

.labelCol{float:left;
          width: 130px; 
          padding-right:10px;
		  /*text-align: right;*/
} 
.mySubmit { margin:10px 10px 10px 0px}
.carSelection {  
	
}
